@model EntityLayer.Concreate.Job

@{
    ViewData["Title"] = "AddJob";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<h1>AddJob</h1>

<form method="post">
    @Html.Label("Meslek Adı")
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control"})
    @Html.ValidationMessageFor(x => x.Name)
    <br />
    @Html.Label("Yanlış giriş rastgele bir sayı giriniz")
    @Html.TextBoxFor(x => x.City, new { @class = "form-control"})
    @Html.ValidationMessageFor(x => x.City)
    <br />
    
    <button class="btn btn-primary">Meslek ekle</button>

</form>

