@model EntityLayer.Concreate.Job

@{
    ViewData["Title"] = "UpdateJob";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<h1>UpdateJob</h1>

<form method="post">
    @Html.Label("Meslek ID")
    @Html.TextBoxFor(x => x.JobID, new { @class = "form-control"})
    <br />
    @Html.Label("Meslek Adı")
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control"})
    <br />
    @Html.Label("Hatalı Giriş rastgele bir sayı giriniz")
    @Html.TextBoxFor(x => x.City, new { @class = "form-control"})
    <br />
   
    <button class="btn btn-success">Mesleği Güncelle</button>
</form>